@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500&display=swap');

*{  
    font-family: 'Roboto', monospace, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". . text text text "
                        ". robot robot btn .";
    overflow: hidden;
    height: 100vh;
    background: rgba(0, 0, 0, 0.687);
    row-gap: 100px;
    padding: 30px;
}
.content-text{
    grid-area: text;
    display: grid;
    place-items: center;
    margin: auto;
    width: 100%;
    max-width: 450px;
    height: auto;
    min-height: 150px;
    max-height: 200px;
    padding: 20px 20px;
    background: white;
    border-radius: 30px;
    position: relative;
}
.content-text::after{
    content: "";
    display: block;
    height: 85px;
    width: 20px;
    border-radius:  0 0 0 100%;
    transform-origin: left bottom;
    transform: rotate(40deg);
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -50px;
    left: 70px;
}
.text{
    font-size: 35px;
    text-align: center;

}
.btn{
    grid-area: btn;
    justify-self: end;
}
.btn #btn{
    cursor: pointer;
    padding: 10px 15px;
    background: transparent;
    color: #fff;
    font-size: 24px;
    border: #fff 1px solid;
    border-radius: 50px;
    box-shadow: 4px 7.5px 5px grey;

}
.btn #btn:hover{
    transition: .5s;
    background:rgba(0, 0, 0, 0.429);
}
.content-robot{
    grid-area: robot;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}
.head-robot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 130px;
    border-radius: 100%;
    border: #fff 14px solid;
    background: rgba(0, 0, 0, 0.429);
}

.left-eye, .right-eye{
    background: rgba(172, 255, 47, 0.84);
    width: 50px;
    height: 20px;
    border-radius: 100%;
}
.left-eye{
    transform: rotate(20deg);
}
.right-eye{
    transform: rotate(-20deg);
}

.main-robot{
    z-index: 2;
    position: relative;
    height: 300px;
    width: 200px;
    background: linear-gradient(white,  rgb(171, 169, 169), grey);
    border-radius: 50px 50px 100% 100%;    
}
.left-arm, .right-arm{
    height: 200px;
    width: 50px;
    background: linear-gradient(white, grey);
    border-radius: 100%;
    position: absolute;   
}
.left-arm{
    top: -16px;
    left: -60px;
    transform: rotate(35deg);
}
.main-robot .right-arm{
    top: -16px;
    right: -60px;
    transform: rotate(-35deg);
}
.shadow{
    margin-top: 30px;
    height: 50px;
    width: 150px;
    background-color: black;
    border-radius: 50%;
    opacity: 20%;
    transform: rotateX(40deg);
}