*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.content{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". . text text text "
                        ". robot robot btn .";
    overflow: hidden;
    height: 100vh;
    background: rgba(0, 0, 0, 0.687);
    row-gap: 100px;
    padding: 30px;
}
.content-text{
    grid-area: text;
    margin: auto;
    width: 100%;
    max-width: 600px;
    height: 150px;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    position: relative;
}
.content-text::after{
    content: "";
    display: block;
    height: 85px;
    width: 20px;
    border-radius:  0 0 0 100%;
    transform-origin: left bottom;
    transform: rotate(40deg);
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -50px;
    left: 70px;
}
.btn{
    grid-area: btn;
    justify-self: end;
}
.btn #btn{
    padding: 10px 15px;
    background: transparent;
    color: #fff;
    font-size: 24px;
    border: #fff 1px solid;
    border-radius: 50px;
    box-shadow: 4px 7.5px 5px grey;

}
.content-robot{
    grid-area: robot;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}
.head-robot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 130px;
    border-radius: 100%;
    border: #fff 14px solid;
    background: rgba(0, 0, 0, 0.429);
}

.left-eye, .right-eye{
    background: rgba(172, 255, 47, 0.84);
    width: 50px;
    height: 20px;
    border-radius: 100%;
}
.left-eye{
    transform: rotate(20deg);
}
.right-eye{
    transform: rotate(-20deg);
}

.main-robot{
    position: relative;
    height: 300px;
    width: 200px;
    background: #fff;
    border-radius: 50px 0px 100% 100%;    
}
.left-arm, .right-arm{
    height: 200px;
    width: 50px;
    background:#fffdfd;
    border-radius: 100%;
    position: absolute;   
    z-index: 2;
}
.left-arm{
    top: -16px;
    left: -60px;
    transform: rotate(35deg);
}
.main-robot .right-arm{
    border-radius: 40px 100% 100% 0;
    height: 50px;
    width: 200px;
    top: 0px;
    right: -180px;
    transform-origin: left bottom;
    animation:  movie 5s reverse infinite ;
}
@keyframes movie{
    to{
        
        transform: rotate(0deg);
    }
    from{
        
        transform: rotate(-25deg);
    }
}